<div class="top-title">
  <h1>
    日々是鍛錬のせつめいしょ
    <p>(にちにちこれたんれん)</p>
  </h1>
</div>

<div class="top-content">
  <h2>1. 日々の運動習慣について記録しよう</h2>
  <p>日々の成果を客観的に見てみよう！操作はとってもカンタンだよ</p>
  <div class="port-top">
    <img src="/images/port-top.png">
  </div>

  <h2>2. 運動した内容などをつぶやいてみよう</h2>
  <p>運動した内容やその時の気持ちを投稿しよう<br>一緒に頑張っている人からいいねがもらえるかも！</p>
  <div class="port-top2">
    <img src="/images/port-top2.png">
  </div>
</div>

<div class="top-buttonbox">
  <p>↓鍛錬を始める↓</p>
  <%= link_to("新規登録", "/users/new") %>
  <%= link_to("ログイン", "/login") %>
</div>

<div class="guest-loginwrapper">
    <div class="guest-login">
    <p>ゲストログインできます！是非使ってみてください</p>
    <p>email : guest@example.com</p>
    <p>password : guest</p>
    </div>
  </div>
