<div>
  <% @post.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
</div>
<ul class="postform">
  <%= form_for(@post, url: { controller: 'posts', action: 'create' }) do |f| %>
  <li>
      <%= f.text_area :content, class: "textarea", id: "postcontent" %>
  </li>
  <%= f.submit "つぶやき投稿", class: "postbutton" %>
  <% end %>
</ul>
